<div style="width: 700px; border: 1px solid grey; padding: 10px; display: inline-block;">
  <%= form_for @book do |f| %>
    <div>
      <%= f.text_field :title, style: "margin: 5px; padding: 10px; width: 198px", placeholder: 'title' %>
    </div>
    <div>
      <%= f.text_field :author, style: "margin: 5px; padding: 10px; width: 198px", placeholder: 'author' %>
    </div>
    <div>
      <%= f.text_area :preview, style: "margin: 5px; padding: 10px; width: 200px; resize: none; border: 1px solid lightgrey", placeholder: 'preview' %>
    </div>
    <div>
      <%= f.text_area :description, style: "margin: 5px; padding: 10px; width: 200px; resize: none; border: 1px solid lightgrey", placeholder: 'description' %>
    </div>
    <div>
      <%= f.number_field :year, style: "margin: 5px; padding: 10px; width: 198px", value: 1900 %>
    </div>
    <div>
      <%= f.select :publisher do %>
        <%= options_for_select Book::PUBLISHERS.map { |p| [p, p] } %>
      <% end %>
    </div>
    <%= f.submit %>
  <% end%>
</div>