<h1 style="text-align: center; border: 1px solid grey; margin-bottom: 20px">
  <%= @book.title %>
</h1>

<h2 style="text-align: center; border: 1px solid grey; margin-bottom: 10px">
  Author: <%= @book.author %>
</h2>

<div style="text-align: center; border: 1px solid grey">
  <div style="margin-bottom: 10px">
    Publisher: <%= @book.publisher %>
  </div>
  <div style="margin-bottom: 10px">
    Year: <%= @book.year %>
  </div>
  <div style="margin-bottom: 10px">
    Preview: <%= @book.preview %>
  </div>
  <div style="margin-bottom: 10px">
    Description: <%= @book.description %>
  </div>
</div>